{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{ article.title }}</h1>
            <p class="lead">{{ article.content }}</p>
            <hr class="my-4">
            <p>만든 날짜: {{ article.created_at }}</p>
            <p>수정 날짜: {{ article.published_at }}</p>
            <a class="btn btn-secondary" href="{% url 'blog:post_edit' article.id %}" role="button">수정</a>
            <a class="btn btn-danger" href="{% url 'blog:post_delete' article.id %}" role="button">삭제</a>
        </div>
        {% for comment in article.comments.all %}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">{{ comment.comment_text }}</h1>
                    <a class="btn btn-secondary" href="{% url 'blog:comment_edit' comment.id %}" role="button">수정</a>
                    <a class="btn btn-danger" href="{% url 'blog:comment_delete' comment.id %}" role="button">삭제</a>
                </div>
            </div>
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}